<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appmovilrest.thefactoryhka.com.co/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>492f2838-c481-47b5-afef-693bb6d7046c</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>10.20.50.196</MSDeployServiceURL>
    <DeployIisAppPath>COProdAppMovilRest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>prod_instalaciones</UserName>
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <TargetFramework>net7.0</TargetFramework>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>
  <ItemGroup>
	<Content Update="appsettings.json" CopyToPublishDirectory="Never"/>
	<Content Update="appsettings.*.json" CopyToPublishDirectory="Never"/>
	<Content Update="appsettings.$(EnvironmentName).json" CopyToPublishDirectory="PreserveNewest"/>
  </ItemGroup>
</Project>